<html lang="en">
    
    <head>
      
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>banano-holliant-live</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>

        <header>
            <p><code>banano-holliant-live</code> is a community-ran lotto for Banano with 0 fees or % taken by the devs. You can be assured that all the BAN in the jackpot is going straight to the winning address!</p>
        </header>
      
        <section>
            <p>To enter into the lotto send ban to this address:</p>
            <p><code>ban_jackpotaddresshere</code></p>
            <p>Time until lottery ends: [hh:mm:ss]</p>
            <p>
                Each ticket costs [ticketCost]. To purchase more tickets multiply the amount of tickets
                that you would like to buy by the ticket price and send the amount to the address above.
                The more tickets you have, the higher the chance of winning!
            </p>
            <p>Current jackpot: [jackpotBalance]</p>
        </section>
       
        <section>
            <p>Warning: if the amount of BAN sent is not a multiple of the ticket price, any extra BAN will be counted as a donation towards the jackpot.</p>
        </section>
      
        <footer>
            <p>For further assistance or to report a problem/bug, DM me via discord @ Holliant#6969</p>
        </footer>
   
    </body>
    
</html>