<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>banano-holliant-live</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

      <style>
          body {
              background-color: rgb(58, 58, 58);
              margin: 1vw;
              padding: 2vw;
          }

          header {
              background: rgb(58, 58, 58);
              color: rgb(238, 238, 11);
              margin: 1vw;
              padding: 2vw;
          }
          section {
              background: rgb(58, 58, 58);
              color: rgb(238, 238, 11);
              margin: 1vw;
              padding: 2vw;
          }
          footer {
              background: rgb(58, 58, 58);
              color: rgb(238, 238, 11);
              margin: 1vw;
              padding: 2vw;
          }

      </style>

    </head>

    <body>
        <header>
            <p>banano-holliant-live is a lotto for banano with 0 fees or % taken by the devs you can be asured that all the ban in the pot is going straight to the winner</p>
        </header>
      
        <section>
           <p>To enter into the lotto send ban to this address (TBA)</p>
           <p>EST</p>
           <p>The way the EST is </p>
           <p>1 ticket cost 5 ban, to buy more tickets multiple the amount of tickets you want by 5 and send the amount. The more tickets you have the more chance you have of winning the 
               jackpot
           </p>
           <p>Exta info further down</p>
            <p>Amount of Banano in the pot</p>
        </section>
       
        <section>
            <p>To enter in the lotto all you have to do is send your ban to the address above and then your done. Yes it is as simple as that</p>
            <p>warning: if the amount of BAN sent is not a multiple of the ticket price, any extra BAN will be counted as a donation towards the jackpot</p>
        </section>
      
        <footer>
            <p>For futher assistance of report a problem/bug dm me via discord Holliant#6969</p>
        </footer>
   
    </body>
</html>