@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background-color: rgb(58, 58, 58);
    margin: 1vw;
    padding: 2vw;
    text-align: center;
    color: rgb(238, 238, 11);
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4vw;
    margin: 1vw;
}

h2 {
    font-size: 2vw;
    margin: 4vw 1vw 1vw 1vw;
}

p {
    font-size: 1.5vw;
    margin: 1vw;
}

img.qr {
    width: 10vw;
}

p#banCount, p#timer {
    font-family: 'Orbitron', sans-serif;
}

.row {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
  
.column {
    flex: 50%;
}

div.countBox {
    background-color: black;
    color: #64f540;
    padding: 0.1vw;
    margin: -1vw 1.5vw 1vw 1.5vw;
    border-radius: 0.7vw;
}

.footerSocial img {
    width: 4vw;
}