@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: rgb(58, 58, 58);
    margin: 1vw;
    padding: 2vw;
    text-align: center;
    color: rgb(238, 238, 11);
    font-family: 'Poppins', sans-serif;
}

.timer {
    color: aquamarine;
}

h1 {
    font-size: 4vw;
    margin: 1vw;
}

h2 {
    font-size: 2vw;
    margin: 4vw 1vw 1vw 1vw;
}

p {
    font-size: 1.5vw;
    margin: 1vw;
}